body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.blue-link {
  color: #168eea;
  text-decoration: none;
  border-bottom: 1px solid #a2d2f7;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease; }
  .blue-link:hover, .blue-link:active, .blue-link:focus {
    color: #168eea;
    text-decoration: none;
    border-bottom: 1px solid #5cb0f0;
    cursor: pointer; }

::selection {
  background: #373737;
  color: #fff; }

.board-box {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
  padding: 30px 28px 28px 28px;
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 14px; }
  .board-box h1, .board-box h2 {
    font-size: 19px;
    margin: 0 0 25px;
    font-weight: 600; }
    .board-box h1 .subtitle, .board-box h2 .subtitle {
      color: #737373;
      margin-top: 8px;
      font-size: 15px;
      line-height: 22px;
      font-weight: 500; }
  .board-box h1 {
    font-size: 28px; }
  .board-box h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px; }
    .board-box h3.header {
      margin-top: 0; }

.alert {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 0; }

.alert-danger {
  background-color: #f5e1e1; }

.alert-success {
  background-color: #e4f1da; }

.alert-warning {
  background-color: #fff4e1; }

.white-btn, .orange-btn, .dark-btn {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #666666;
  background: #fff;
  border: 1px solid #d9d9d9;
  padding: 5px 12px;
  font-size: 13px;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-weight: 600;
  height: 36px;
  line-height: 25px;
  vertical-align: baseline; }
  .white-btn:hover, .orange-btn:hover, .dark-btn:hover, .white-btn:active, .orange-btn:active, .dark-btn:active, .white-btn:focus, .orange-btn:focus, .dark-btn:focus {
    text-decoration: none;
    cursor: pointer;
    background: #fafafa;
    border-color: #d9d9d9;
    color: #5a5a5a; }
  .white-btn:active, .orange-btn:active, .dark-btn:active {
    background: #f2f2f2;
    box-shadow: none; }
  .white-btn:focus, .orange-btn:focus, .dark-btn:focus {
    outline: 0 !important; }
  .white-btn:disabled, .orange-btn:disabled, .dark-btn:disabled {
    background: #fff;
    color: #666666; }
    .white-btn:disabled:hover, .orange-btn:disabled:hover, .dark-btn:disabled:hover {
      cursor: not-allowed; }
  .white-btn .fa, .orange-btn .fa, .dark-btn .fa {
    margin-right: 5px; }
  .white-btn.btn-lg, .btn-lg.orange-btn, .btn-lg.dark-btn {
    padding: 15px 20px;
    font-size: 16px;
    height: 56px; }

.orange-btn {
  background: #ff5722;
  color: #fff !important;
  border: 0;
  height: 34px; }
  .orange-btn:hover, .orange-btn:focus, .orange-btn:active {
    background: #ee3900;
    color: #fff; }
  .orange-btn:disabled {
    background-color: #ff7e55; }
  .orange-btn .cta-precision {
    color: #ffcbbb;
    font-size: 0.8em;
    margin-left: 5px; }

.dark-btn {
  background: #2a2a2a;
  color: #fafafa !important;
  border: 1px solid #fafafa; }
  .dark-btn:hover, .dark-btn:focus, .dark-btn:active {
    background: #1d1d1d; }
  .dark-btn:disabled {
    background: #373737; }

.white {
  color: #fff; }
  .white:hover, .white:focus, .white:active {
    color: #fff;
    text-decoration: none; }
  .white a,
  .white a:hover,
  .white a:focus,
  .white a:active {
    border-bottom: 1px solid white;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .white a:hover {
    border-color: white;
    cursor: pointer; }
  .white path {
    fill: #fff; }

.black {
  color: #2a2a2a; }
  .black:hover, .black:focus, .black:active {
    color: #2a2a2a;
    text-decoration: none; }
  .black a,
  .black a:hover,
  .black a:focus,
  .black a:active {
    border-bottom: 1px solid #838383;
    color: #2a2a2a;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .black a:hover {
    border-color: #5d5d5d;
    cursor: pointer; }
  .black path {
    fill: #2a2a2a; }

.grey {
  color: #737373; }
  .grey:hover, .grey:focus, .grey:active {
    color: #737373;
    text-decoration: none; }
  .grey a,
  .grey a:hover,
  .grey a:focus,
  .grey a:active {
    border-bottom: 1px solid #cccccc;
    color: #737373;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .grey a:hover {
    border-color: #a6a6a6;
    cursor: pointer; }
  .grey path {
    fill: #737373; }

.light-grey, .help-block {
  color: #888888; }
  .light-grey:hover, .help-block:hover, .light-grey:focus, .help-block:focus, .light-grey:active, .help-block:active {
    color: #888888;
    text-decoration: none; }
  .light-grey a, .help-block a,
  .light-grey a:hover,
  .help-block a:hover,
  .light-grey a:focus,
  .help-block a:focus,
  .light-grey a:active,
  .help-block a:active {
    border-bottom: 1px solid #e1e1e1;
    color: #888888;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .light-grey a:hover, .help-block a:hover {
    border-color: #bbbbbb;
    cursor: pointer; }
  .light-grey path, .help-block path {
    fill: #888888; }

.dark-grey {
  color: #666; }
  .dark-grey:hover, .dark-grey:focus, .dark-grey:active {
    color: #666;
    text-decoration: none; }
  .dark-grey a,
  .dark-grey a:hover,
  .dark-grey a:focus,
  .dark-grey a:active {
    border-bottom: 1px solid #bfbfbf;
    color: #666;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .dark-grey a:hover {
    border-color: #999999;
    cursor: pointer; }
  .dark-grey path {
    fill: #666; }

.orange {
  color: #ff5722; }
  .orange:hover, .orange:focus, .orange:active {
    color: #ff5722;
    text-decoration: none; }
  .orange a,
  .orange a:hover,
  .orange a:focus,
  .orange a:active {
    border-bottom: 1px solid #ffdfd5;
    color: #ff5722;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .orange a:hover {
    border-color: #ffa588;
    cursor: pointer; }
  .orange path {
    fill: #ff5722; }

.green {
  color: #60ad1d; }
  .green:hover, .green:focus, .green:active {
    color: #60ad1d;
    text-decoration: none; }
  .green a,
  .green a:hover,
  .green a:focus,
  .green a:active {
    border-bottom: 1px solid #bbec90;
    color: #60ad1d;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .green a:hover {
    border-color: #93e14f;
    cursor: pointer; }
  .green path {
    fill: #60ad1d; }

.dark-green, .alert-success {
  color: #427c11; }
  .dark-green:hover, .alert-success:hover, .dark-green:focus, .alert-success:focus, .dark-green:active, .alert-success:active {
    color: #427c11;
    text-decoration: none; }
  .dark-green a, .alert-success a,
  .dark-green a:hover,
  .alert-success a:hover,
  .dark-green a:focus,
  .alert-success a:focus,
  .dark-green a:active,
  .alert-success a:active {
    border-bottom: 1px solid #9ae857;
    color: #427c11;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .dark-green a:hover, .alert-success a:hover {
    border-color: #72d61d;
    cursor: pointer; }
  .dark-green path, .alert-success path {
    fill: #427c11; }

.red, .alert-danger {
  color: #d63c3c; }
  .red:hover, .alert-danger:hover, .red:focus, .alert-danger:focus, .red:active, .alert-danger:active {
    color: #d63c3c;
    text-decoration: none; }
  .red a, .alert-danger a,
  .red a:hover,
  .alert-danger a:hover,
  .red a:focus,
  .alert-danger a:focus,
  .red a:active,
  .alert-danger a:active {
    border-bottom: 1px solid #f5cfcf;
    color: #d63c3c;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .red a:hover, .alert-danger a:hover {
    border-color: #e89090;
    cursor: pointer; }
  .red path, .alert-danger path {
    fill: #d63c3c; }

.beige, .alert-warning {
  color: #8b6914; }
  .beige:hover, .alert-warning:hover, .beige:focus, .alert-warning:focus, .beige:active, .alert-warning:active {
    color: #8b6914;
    text-decoration: none; }
  .beige a, .alert-warning a,
  .beige a:hover,
  .alert-warning a:hover,
  .beige a:focus,
  .alert-warning a:focus,
  .beige a:active,
  .alert-warning a:active {
    border-bottom: 1px solid #e9c468;
    color: #8b6914;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .beige a:hover, .alert-warning a:hover {
    border-color: #e0aa25;
    cursor: pointer; }
  .beige path, .alert-warning path {
    fill: #8b6914; }

.dark-orange {
  color: #d45535; }
  .dark-orange:hover, .dark-orange:focus, .dark-orange:active {
    color: #d45535;
    text-decoration: none; }
  .dark-orange a,
  .dark-orange a:hover,
  .dark-orange a:focus,
  .dark-orange a:active {
    border-bottom: 1px solid #f3d1c8;
    color: #d45535;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  .dark-orange a:hover {
    border-color: #e69c89;
    cursor: pointer; }
  .dark-orange path {
    fill: #d45535; }

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=tel],
select,
textarea {
  border: 1px solid #cdcdcd;
  box-shadow: none !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #fcfcfc;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease;
  height: 36px;
  font-size: 13px;
  line-height: 25px;
  padding: 6px 8px; }
  input[type=text]:focus, input[type=text]:active,
  input[type=email]:focus,
  input[type=email]:active,
  input[type=password]:focus,
  input[type=password]:active,
  input[type=number]:focus,
  input[type=number]:active,
  input[type=tel]:focus,
  input[type=tel]:active,
  select:focus,
  select:active,
  textarea:focus,
  textarea:active {
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ff5722 !important; }
  input[type=text].input-lg,
  input[type=email].input-lg,
  input[type=password].input-lg,
  input[type=number].input-lg,
  input[type=tel].input-lg,
  select.input-lg,
  textarea.input-lg {
    height: 46px;
    padding: 10px 12px;
    font-size: 15px; }

select {
  background-color: #fff; }

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: #aeaeae; }

input[type=text]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder {
  color: silver; }

label {
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 600;
  margin-bottom: 3px; }

.help-block {
  font-size: 13px;
  margin-top: 8px; }

/*# sourceMappingURL=main.css.map */
