.white-btn {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: darken($grey, 10%);
  background: darken($white, 7%);
  border: 0;
  padding: 6px 12px;
  font-size: 13px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-weight: 600;
  height: 38px;
  line-height: 25px;

  &:hover,
  &:active,
  &:focus {
    background: darken($white, 10%);
    text-decoration: none;
    cursor: pointer;
    color: #555;
  }

  &:active {
    background: darken($white, 15%);
  }

  &:focus {
    outline: 0 !important;
  }

  &:disabled {
    background: darken($white, 3%);
    color: #999;

    &:hover {
      cursor: default;
    }
  }

  .fa {
    margin-right: 5px;
  }

  &.btn-lg {
    padding: 10px 20px;
    font-size: 16px;
    height: 56px;
  }
}

.orange-btn {
  @extend .white-btn;
  background: $orange;
  color: #fff !important;
  border: 0;

  &:hover, &:focus, &:active {
    background: darken($orange, 10%);
    color: #fff;
  }

  &:disabled {
    background-color: lighten($orange, 10%);
  }

  .cta-precision {
    color: lighten($orange, 30%);
    font-size: 0.8em;
    margin-left: 5px;
  }
}

.dark-btn {
  @extend .white-btn;
  background: $black;
  color: #fafafa !important;
  border: 1px solid #fafafa;

  &:hover, &:focus, &:active {
    background: darken($black, 5%);
  }

  &:disabled {
    background: lighten($black, 5%);
  }
}
