.btn-white {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: darken($grey, 5%);
  background: $white;
  border: 1px solid darken($border-grey, 5%);
  padding: 5px 12px;
  font-size: 13px;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-weight: 600;
  height: 36px;
  line-height: 25px;
  vertical-align: baseline;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    cursor: pointer;
    background: darken($white, 2%);
    border-color: darken($border-grey, 5%);
    color: darken($grey, 10%);
  }

  &:active {
    background: darken($white, 10%);
    box-shadow: none;
  }

  &:focus {
    outline: 0 !important;
  }

  &:disabled,
  &.disabled {
    background: $white;
    color: $light-grey;

    &:hover {
      cursor: not-allowed;
    }
  }

  .far, .fas, .fal, .fab {
    margin-right: 5px;
    font-weight: 500;
  }

  &.btn-icon {
    .far, .fas, .fal, .fab {
      margin-right: 0;
    }
  }

  &.btn-lg {
    padding: 15px 25px;
    font-size: 15px;
    height: 56px;
  }
}

.btn-orange {
  @extend .btn-white;
  background: $orange;
  color: $white !important;
  border-color: $orange;

  &:hover,
  &:focus {
    background: darken($orange, 5%);
    border-color: darken($orange, 5%);
  }

  &:active {
    background: darken($orange, 15%);
    border-color: darken($orange, 15%);
  }

  &:disabled,
  &.disabled  {
    background-color: lighten($orange, 10%);
    border-color: lighten($orange, 10%);
  }

  .cta-precision {
    color: lighten($orange, 30%);
    font-size: 0.8em;
    margin-left: 5px;
  }
}

.dark-btn {
  @extend .btn-white;
  background: $black;
  color: #fafafa !important;
  border: 1px solid #fafafa;

  &:hover,
  &:focus {
    background: darken($black, 5%);
  }

  &:active {
    background: darken($black, 10%);
  }

  &:disabled,
  &.disabled  {
    background: lighten($black, 5%);
    color: darken($white, 15%) !important;
  }
}

.blue-btn {
  @extend .btn-white;
  background: darken($blue, 5%);
  color: $white !important;
  border: 0;
  height: 34px;

  &:hover,
  &:focus {
    background: darken($blue, 5%);
  }

  &:active {
    background: darken($blue, 10%);
  }

   &:disabled {
    background-color: lighten($blue, 5%);
  }
}
