.white-btn {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: darken($grey, 5%);
  background: $white;
  border: 1px solid darken($border-grey, 5%);
  padding: 5px 12px;
  font-size: 13px;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-weight: 600;
  height: 36px;
  line-height: 25px;
  vertical-align: baseline;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    cursor: pointer;
    background: darken($white, 2%);
    border-color: darken($border-grey, 5%);
    color: darken($grey, 10%);
  }

  &:active {
    background: darken($white, 5%);
    box-shadow: none;
  }

  &:focus {
    outline: 0 !important;
  }

  &:disabled {
    background: $white;
    color: darken($grey, 5%);

    &:hover {
      cursor: not-allowed;
    }
  }

  .fa {
    margin-right: 5px;
  }

  &.btn-lg {
    padding: 15px 20px;
    font-size: 16px;
    height: 56px;
  }
}

.orange-btn {
  @extend .white-btn;
  background: $orange;
  color: $white !important;
  border: 0;
  height: 34px;

  &:hover, &:focus, &:active {
    background: darken($orange, 10%);
    color: $white;
  }

  &:disabled {
    background-color: lighten($orange, 10%);
  }

  .cta-precision {
    color: lighten($orange, 30%);
    font-size: 0.8em;
    margin-left: 5px;
  }
}

.dark-btn {
  @extend .white-btn;
  background: $black;
  color: #fafafa !important;
  border: 1px solid #fafafa;

  &:hover, &:focus, &:active {
    background: darken($black, 5%);
  }

  &:disabled {
    background: lighten($black, 5%);
  }
}
