@mixin color($color){
  color: $color;

  &:hover,
  &:focus,
  &:active {
    color: $color;
    text-decoration: none;
  }

  a,
  a:hover,
  a:focus,
  a:active {
    border-bottom: 1px solid lighten($color, 35%);
    color: $color;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
  }

  a:hover {
    border-color: lighten($color, 20%);
    cursor: pointer;
  }

  path {
    fill: $color;
  }
}

.white {
  @include color($white);
}

.black {
  @include color($black);
}

.grey {
  @include color($grey);
}

.light-grey {
  @include color($light-grey);
}

.dark-grey {
  @include color($dark-grey);
}

.orange {
  @include color($orange);
}

.purple {
  @include color($purple);
}

.green {
  @include color($green);
}

.dark-green {
  @include color($dark-green);
}

.red {
  @include color($red);
}

.dark-red {
  @include color($dark-red);
}

.beige {
  @include color($beige);
}

.dark-orange {
  @include color($dark-orange);
}

.blue {
  @include color($blue);
}
