input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=tel],
select,
textarea {
  border: 1px solid darken($border-grey, 10%);
  box-shadow: none !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: darken($white, 1%);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease;
  height: 36px;
  font-size: 13px;
  line-height: 25px;
  padding: 6px 8px;

  &:focus,
  &:active {
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $orange !important;
  }

  &.input-lg {
    height: 46px;
    padding: 10px 12px;
    font-size: 15px;
  }
}

select {
  background-color: $white;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: lighten($light-grey, 15%);;
}

input[type=text]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder {
  color: lighten($light-grey, 22%);
}

label {
  font-size: 13px;
  color: $black;
  font-weight: 600;
  margin-bottom: 3px;
}

.help-block {
  @extend .light-grey;
  font-size: 13px;
  margin-top: 8px;
}
