input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    outline: 0;
    box-shadow: none !important;
    border: 1px solid $orange !important;
  }
}

label {
  font-size: 14px;
  color: $grey;
  font-weight: 500;
}
