.board-box {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
  padding: 30px 28px 28px 28px;
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 14px;

  h1, h2 {
    font-size: 19px;
    margin: 0 0 25px;
    font-weight: 600;

    .subtitle {
      color: $grey;
      margin-top: 8px;
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
    }
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;

    &.header {
      margin-top: 0;
    }
  }

  .submenu {
    padding-left: 0;
    padding-right: 15px;

    li {
      list-style: none;

      a {
        display: inline-block;
        font-size: 14px;
        line-height: 15px;
        color: lighten($black, 15%);
        padding: 14px 12px;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border: 1px solid $white;
        cursor: pointer;
      }

      a:hover,
      a:active,
      a:focus {
        text-decoration: none;
        background: $background-grey;
      }

      a.active {
        font-weight: 600;
        background: $background-grey;
      }

      a .fa {
        float: right;
        color: $light-grey;
        display: none;
      }

      a:hover .fa,
      a.active .fa {
        display: inline-block;
      }
    }
  }
}
