// Theme colors
$orange: #ff5722;
$blue: #428bca;

// Grey variations
$white: #fff;
$black: #333;
$grey: #888;
$light-grey: #9a9a9a;
$dark-grey: #666;
$background-grey: #fafafa;
$border-grey: #eee;

// The 3 colors used for verifications results and alerts
$green: #60ad1d;
$background-green: #e4f1da;
$red: #d63c3c;
$background-red: #f5e1e1;
$beige: #8b6914;
$background-beige: #fff4e1;

// Other colors used
$dark-green: #427c11;
$dark-orange: #d45535;
$background-yellow: #fff6db;
$yellow: #fffdf9;

// Colors of other brands
$twitter-blue: #1DA1F2;
$linkedin-blue: #0077B5;
