$white: #fff;
$black: #333;

$grey: #888;
$light-grey: #aaa;
$dark-grey: #666;
$background-grey: #fafafa;

$yellow: #fffdf9;
$orange: #e86240;
$brown: #3e2e2b;

$green: #60AD1D;
$dark-green: #427c11;
$background-green: #e4f1da;

$red: #d63c3c;
$background-red: #f5e1e1;

$beige: #8b6914;
$background-beige: #fff4e1;
